/* You can add global styles to this file, and also import other style files */
.accenture-wrapper{
  max-width: 1800px;
  margin: 0 auto;
}
body{
  padding-top: 0px;
}
.font-size-16{
  font-size: 16px;
}
.cursor{
  cursor: pointer;
}
body,html{
  height: 100%;
}
.min-height{
  min-height: 81vh;
}
